<h2>Patvirtinimo duomenys</h2>

<table>
  <tr><th>Pavadinimas</th><td>{{ bookData?.title }}</td></tr>
  <tr><th>Puslapių skaičius</th><td>{{ bookData?.pages }}</td></tr>
  <tr><th>ISBN</th><td>{{ bookData?.isbn }}</td></tr>
  <tr><th>Trumpas aprašymas</th><td>{{ bookData?.short_description || 'Nenurodytas' }}</td></tr>
</table>

<br />
<h3>Autoriai</h3>
<table *ngIf="bookData?.authors?.length">
  <thead>
  <tr>
    <th>Vardas</th>
    <th>Pavardė</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let author of bookData.authors">
    <td>{{ author.name }}</td>
    <td>{{ author.surname }}</td>
  </tr>
  </tbody>
</table>

<p *ngIf="!bookData?.authors?.length">Autoriai nepateikti.</p>

<div style="margin-top: 30px;">
  <button (click)="goBack()">🔙 Grįžti į knygų sąrašą</button>
</div>
